exceptiongroup==1.3.0
fqdn==1.5.1
importlib_metadata==8.7.0
isoduration==20.11.0
jsonpointer==3.0.0
jupyterlab==4.4.10
neurokit2==0.2.12
pickleshare==0.7.5
pip==25.2
rfc3987-syntax==1.1.0
seaborn==0.13.2
torch==2.2.0+cpu
tinycss2==1.4.0
torchvision==0.24.0+cpu
tqdm==4.67.1
uri-template==1.3.0
webcolors==24.11.1
